<!-- start custom head snippets -->
{% comment %} Load page specific css/.js {% endcomment %}
<!-- to use maps -->
{% if page.leaflet %}
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.5/leaflet-routing-machine.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.5/leaflet-routing-machine.css" />
{% endif %}
<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- p5 animations-->
{% assign p5_version = '0.5.8' %}
{% if page.p5 %}
  {% for lib in page.p5 %}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/{{ p5_version }}/{{ lib }}.min.js"></script>
  {% endfor %}
{% endif %}

{% if page.sketches %}
  {% for sketch in page.sketches %}
     <script src='/sketches/{{ sketch }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}

<!-- end custom head snippets -->
